<header class="{{ appConfig?.brand }}">
  <app-banner [brand]="appConfig?.brand"></app-banner>
</header>
<main class="{{ appConfig?.brand }}">
  <span *ngIf="appConfig?.lang?.startsWith('es'); else langEn">
    ¡Hola, consumidor de energia!
  </span>

  <div *ngIf="appConfig">
    <h2>Client Configuration</h2>
    <pre
      >{{ appConfig | json }}
    </pre>
  </div>
</main>
<footer class="{{ appConfig?.brand }}">
  &copy; {{ appConfig?.brand }} 2022. Powered by
  <a href="https://metadev.pro">
    <img src="https://metadev.pro/img/metadev.svg" class="metadev-logo" />
  </a>
</footer>

<ng-template #langEn> Hello. Energy consumer! </ng-template>
